# Next.js
.next/
out/
dist/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.log
*.pem

# Testing
coverage/

# Deployment
.vercel

# IDEs
.idea
.vscode/

# Claude Code
AGENTS.md
CLAUDE.md
/.claude
