@import "tailwindcss";
@import "../styles/typography.css";
@import "../styles/animations.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Typography */
  --font-family-sans: "Inter", sans-serif;

  /* Breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  /* Colors */
  --color-primary: #e8472a;
  --color-secondary: #EA6C2A;
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-gray: #6b7280;
  --color-deep-gray: #374151;
  --color-light-gray: #f0f4f0;
  --color-light-red: #fee2e2;
  --color-red: #ef4444;
  --color-deep-red: #c23616;

  /* Content widths */
  --content-mobile: 100%;
  --content-tablet: 720px;
  --content-desktop: 1200px;
}

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);
  color: var(--color-black);
  font-family: var(--font-family-sans), serif;
}
